Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc

/_site
/_theme_packages
/.settings

/.pydevproject

.vscode
pdfs/source-code-for-book-examples/
pdfs/source-code-for-book-examples.zip

!_config.yml
_config_*.yml
_config.*.yml
_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache
Gemfile.lock
*.gem
